@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);


/*--
font-family: 'Hanna', serif;
font-family: 'Jeju Gothic', serif;
font-family: 'Jeju Hallasan', serif;
font-family: 'Jeju Myeongjo', serif;
font-family: 'KoPub Batang', serif;
font-family: 'Nanum Brush Script', serif;
font-family: 'Nanum Gothic', serif;
font-family: 'Nanum Gothic Coding', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Nanum Pen Script', serif;
--*/

/* CSS Document */

/***********************************************************/
/*                   Menu                                  */
/***********************************************************/

.mainmenu .dropdown-menu { 
	top:2px;
	opacity:1;
}

.mainmenu .dropdown-menu li{
	/*
		display: inline-block;
	*/
	
}


/***********************************************************/
/*                   Section                                */
/***********************************************************/
.section { 
	padding-top: 20px;
	top:0;
	display:block;
}


/***********************************************************/
/*                   Log                                   */
/***********************************************************/
.log {
	
}

/***********************************************************/
/*                   Copy                                  */
/***********************************************************/
.copyright {
	float:right;
	padding: 0 80px 0 0;
}
